body {
  background-color: #928E8E;
  margin: 0;
}

div.content {
  margin: auto;
  margin-left:150px;
  width:1080px;
  padding-bottom: 200px;
  background-color: #DAD8D8;
  margin-top: 0;
  padding-top:0;
  border-radius:10px;
}

.header {
  height:120px;
}

.header h1 {
  //margin: auto;
  margin-top: 0;
  padding-top:30px;
  text-align: center;
  font-family: Verdana; 
  font-size:20pt; 
  font-weight:bold; 
  color:#ac2020; 
  text-shadow: 1px 1px 1px black
  
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  
}

.chart {
  align-content: center;
  padding: 10px;
  padding-bottom: 1px;
  margin-left: 30px;
  margin-right:30px;
  margin-bottom:15px;
  background-color: whitesmoke;
}

svg {
  display:block;
  margin: auto;
  margin-bottom:15px;
  background-color: whitesmoke;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick {
  font-size: .6em;
}

g.mouseIndicator line.active {
  stroke: #bbb;
  shape-rendering: crispEdges;
}

g.mouseIndicator line.inactive {
  display: none;
}

g.graphButtons text{
  fill: grey;
}

g.graphButtons text.inactive:hover{
  fill: blue;
  text-decoration: underline;
  cursor: pointer;
}

g.graphButtons .active{
  fill:black;
}


g.timeField text {
  fill:grey;
  text-anchor: end;
}

g.mouseInfo text {
  fill:grey;
  font-size: 10pt;
}

.teamList {
  
}

#tableHeader {
  font-weight: bold;
}

.teamList ul {
  font-family: verdana;
  font-size: 10pt;
  list-style: none;
  padding-left: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  	-webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
  -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
}

.teamList ul li span {
  display:inline-block;
  font-size: 9pt;
}

.teamList ul li span.color {
  width:1rem;
  min-width: 1em;
  min-height: 6pt;
  margin-right:.2rem;
}

.teamList ul li span.name {
  width: 14rem;
}
.teamList ul#teams li span {
  font-size: 8pt;
}

.teamList ul li span.lap {
  width: 4rem;
}
.teamList ul li span.cps {
  width: 2rem;
}



a:link {
  text-decoration: none;
  display: block;
  color: #000;
}
.features-table {
  font: 14px Verdana,Arial,Helvetica;
}

.features-table th {
  
    height: 25px;
    box-shadow: 1px 1px 4px #000;
    background: #AC2020 none repeat scroll 0% 0%;
    padding: 0px;
  border-radius:10px;
}
